*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    
}

body{
    font-size: 16px;
    font-family: "Titillium Web", sans-serif;
}

.nav-menu {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 30px 20px;
    position: sticky;
}

.nav-menu header {
    margin-right: auto;
}

.nav-menu ul {
    list-style-type: none;
    display: flex;
}

.nav-menu ul li {
    margin-left: 20px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.382), rgba(0, 0, 0, 0.826)), url("https://i.pinimg.com/originals/9e/a3/5b/9ea35b3ee445ca2aa820920dc2600a6d.jpg");
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 {
    font-size: 4em;
}

.hero-text p {
    font-size: 1.5em;
}

button {
    height: 70px;
    width: 200px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 1.2em;
    font-weight:600;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

button:hover {
    background-color: #d56700;
    cursor: pointer;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.153);
}

.workout-container {
   
    width: 25%;
    text-align: center;
    margin: 200px auto;
    padding: 50px 0;
    background-color: rgb(231, 244, 244);
}

.excersize {
    margin-bottom: 30px;
}

.excersize input{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    margin: 10px auto;
    padding-left: 10px
}

.excersize label {
    font-weight: bold;
    font-size: 1.2em;
}

select {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

.submit {
    height: 60px;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1em;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.177);
}
